*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Exo", sans-serif;
    overflow: auto;
}
a{
    color: inherit;
}
.container{
    width: 95%;
    margin: auto;
}
/* header section */
body .header{
    background-color: #fff085;
    padding-bottom: 20px;
    border-bottom: 5px solid;
}

/* navbar */
.nav{
    background-color: white;
    border: 2px solid;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 20px ;
    padding: 12px 24px;
    position: fixed;
    left: 20px;
    right: 20px;
    z-index: 999;
    
}
.nav .nav-content1 span{
    font-size: 30px;
    font-weight: 800;
}
.nav .nav-content1 span .color{
    color: #ff6900;
}
.nav .nav-content2 ul{
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav .nav-content2 ul li{
    font-size: 14px;
    font-weight: 600;
    transition: color 0.3s ease;
    
}
.nav .nav-content2 ul li:hover{
    color: #ff7a50;
}
.nav .nav-content2 ul .fa-star{
    color: #d1d5dc;
    margin-inline: 15px;
    font-size: 10px;
}
.nav .nav-content3{
    font-size: 14px;
    font-weight: 700;
    padding: 10px 18px;
    background-color: #ffd15b;
    border: 2px solid;
    border-radius: 25px;
    transition: 0.2s ease;
}
.nav .nav-content3:hover{
    transform: translate(3px,3px);

}
/* header content */

.header-content{
    margin-top: 50px;
}
.header-content .hd-content1{
    margin-top: 50px;
    position: relative;
    z-index: 4;
    display: flex;
    justify-content: space-between;
}
.header-content .hd-content1 .item1{
    width: 46%;
}
.header-content .hd-content1 .item1 .text1{
    width: fit-content;
    color: white;
    font-size: 14px;
    font-weight: 700;
    background-color: black;
    margin-top: 40px;
    padding:10px 20px;
    margin-right: 5px;
    box-shadow: 5px 5px 0 black;
    transform: skew(2deg, -3deg);
    position: relative;
    z-index: 2;
    
}

.header-content .hd-content1 .item1 h1{
    font-size: 72px;
    font-weight: 900;
    text-shadow: 3px 3px 0 black;
    margin-block: 24px 32px;
    
}
.header-content .hd-content1 .item1 h1 .c-red{
        color: #e7000b;

}
    .header-content .hd-content1 .item1 h1 .c-blue{
        color: #155dfc;
}
.header-content .hd-content1 .item1 p{
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    background-color: white;
    box-sizing: border-box;
    padding: 16px;
    border: 2px solid ;
    margin-bottom: 32px;
}
.header-content .hd-content1 .item2{
    width: 50%;
    margin-top: 50px;
    padding: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-content .hd-content1 .item2 img{
    margin-left: 40px;
    width: 90%;
    height: 70%;
    border: 4px solid;
    transform: skew(-2deg , 2deg);
    box-shadow: 6px 6px 0 black ;
    transition: 1s ease;
}
.header-content .hd-content1 .item2 img:hover{
    transform: translate(-4px,-4px)
    skew(-2deg , 2deg) ;
}
.header-content .hd-content1 .item2 .text{
    width: fit-content;
    font-size: 16px;
    font-weight: 700;
    padding:12px  14px;
    color: white;
    background-color: #fb2c36;
    border: 2px solid black;
    box-shadow: 3px 3px 0 black;
    transform: skew(-14deg,14deg);
    position: absolute;
    top: 80px;
    right: 12px;

}
.header-content .hd-content1 .box1{
    font-size: 20px;
    font-weight: 700;
    background-color: black;
    color: white;
    padding: 16px 32px;
    border: 4px solid black;
    box-shadow: 7px 7px 0 black;
    margin: 0 20px 40px 0;
    transition: 0.2s ease;
}
.header-content .hd-content1 .box1:hover{
    box-shadow: none;
    transform: translate(7px,7px);
}
.header-content .hd-content1 .box2{
    font-size: 20px;
    font-weight: 700;
    background-color: white;
    padding: 16px 32px;
    border: 4px solid black;
    box-shadow: 7px 7px 0 black;
    margin-bottom: 40px;
    transition: 0.2s ease;
}
.header-content .hd-content1 .box2:hover{
    box-shadow: none;
    transform: translate(7px,7px);
}

.header .positon1{
    background-color: #e5d877;
    width: 10%;
    height: 20%;
    position: absolute;
    top:40px;
    left: 30px;
    transform: skew(-10deg,7deg);
}
.header .positon2{
    background-color: #ffdc7d;
    width: 8%;
    height: 17%;
    transform: rotate(45deg);
    position: absolute;
    top: 160px;
    right: 90px;
}
.header .positon3{
    background-color: #e9e491;
    width: 8%;
    height: 17%;
    transform: rotate(45deg);
    position: absolute;
    bottom: -137px;
    left: 450px;
}
/* latest section */
.latest-section{
    background-color: #f5f5f5;
    padding-block: 50px;
}
.latest-section .container{
    padding-top: 30px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.latest-section .container .la-content1{
    width: 65%;
    display: flex;
    flex-direction: column;
}
.latest-section .container .la-content1 .la-item1{
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.latest-section .container .la-content1 .la-item1 h2{
    font-size:48px ;
    font-weight: 900;
    text-align: left;
}
.latest-section .container .la-content1 .la-item1 div{
    width: fit-content;
    background-color: black;
    padding:10px 16px;
    margin-right: 5px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 5px 5px 0 black;
    transform: skew(-1deg, 2deg);
}
.latest-section .container .la-content1 .image{
    width: 40%;
    padding: 5px 0;
    margin-right: 14px;
    position: relative;
}
.latest-section .container .la-content1  img{
    width: 90%;
    border: 2px solid black;
    margin-top: 14px;
}
.latest-section .container .la-content1 .flex .color{
    color: #e7000b;
}
.latest-section .container .la-content1 .card1{
    border: 4px solid black;
    padding: 32px ;
    background-color: white;
    box-shadow: 5px 5px 0 black;
    margin:3px 5px 32px 3px;
    transition: 0.5s ease;
    display: flex;
}
.latest-section .container .la-content1 .card1:hover{
    transform: translate(-3px,-3px);
}
.latest-section .container .la-content1 .card1 .image div{
    background-color: #fb2c36;
    border: 2px solid black;
    width: fit-content;
    color: white;
    padding: 4px 8px;
    font-size: 12px;
    font-weight: 700;
    transform: rotate(15deg);
    position: absolute;
    top: 5px;
    right: 3px;
}
.latest-section .container .la-content1 .card-text{
    padding-top: 5px;
}
.latest-section .container .la-content1 .card1 .card-text .text1{
    font-size: 12px;
    font-weight: 700;
    background-color: #ffdf20;
    padding: 4px 10px;
    width: fit-content;
    border: 2px solid black;
    box-shadow: 3px 3px 0 black;
    transform: rotate(-1deg);
}
.latest-section .container .la-content1 .flex{
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}
.latest-section .container .la-content1 h3{
    font-size: 24px;
    font-weight: 700;
    margin-block: 12px;
}
.latest-section .container .la-content1 p{
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    margin-bottom: 16px;
}
.latest-section .container .la-content1 .card2{
    border: 4px solid black;
    padding: 32px ;
    background-color: white;
    box-shadow: 5px 5px 0 black;
    margin:3px 5px 32px 3px;
    transition: 0.5s ease;
    display: flex;
}
.latest-section .container .la-content1 .card2:hover{
    transform: translate(-3px,-3px);
}
.latest-section .container .la-content1 .card2 .image div{
    background-color: #2b7fff;
    border: 2px solid black;
    width: fit-content;
    color: white;
    padding: 4px 8px;
    font-size: 12px;
    font-weight: 700;
    transform: rotate(-15deg);
    position: absolute;
    top: 7px;
    right: 3px;
}
.latest-section .container .la-content1 .card2 .text1{
    font-size: 12px;
    font-weight: 700;
    background-color: #7bf1a8;
    padding: 4px 10px;
    width: fit-content;
    border: 2px solid black;
    box-shadow: 3px 3px 0 black;
    transform: rotate(1deg);
}
.latest-section .container .la-content1 .card3{
    border: 4px solid black;
    padding: 32px ;
    background-color: white;
    box-shadow: 5px 5px 0 black;
    margin:3px 5px 32px 3px;
    transition: 0.5s ease;
    display: flex;
}
.latest-section .container .la-content1 .card3:hover{
    transform: translate(-3px,-3px);
}
.latest-section .container .la-content1 .card3 .image div{
    background-color: #ad46ff;
    border: 2px solid black;
    width: fit-content;
    color: white;
    padding: 4px 8px;
    margin-top: 3px;
    font-size: 12px;
    font-weight: 700;
    transform: rotate(45deg);
    position: absolute;
    top: 11px;
    right: 3px;
}
.latest-section .container .la-content1 .card3 .text1{
    font-size: 12px;
    font-weight: 700;
    background-color: #fda5d5;
    padding: 4px 10px;
    width: fit-content;
    border: 2px solid black;
    box-shadow: 3px 3px 0 black;
    transform: rotate(-3deg);
}
.latest-section .container .la-content1 .la-item3{
    font-size: 20px;
    font-weight: 700;
    background-color: black;
    color: white;
    width: fit-content;
    padding: 16px 32px;
    border: 4px solid black;
    box-shadow: 7px 7px 0 black;
    margin: 0 20px 40px 0;
    align-self: center;
    transition:  0.2s ease;
}
.latest-section .container .la-content1 .la-item3:hover{
    transform: translate(7px,7px);
    box-shadow: none;
}
/* ................ */
.latest-section .container{
    position: relative;
    overflow: visible;
}
.latest-section .container .la-content2{
    width: 32%;
    padding-right: 5px;
    position: sticky;
    top: 30px ;

}
.latest-section .container .la-content2 h3{
    font-size: 30px;
    font-weight: 900;
}
.latest-section .container .la-content2 .item1{
    border: 4px solid black;
    background-color: white;
    padding: 32px;
    box-sizing: border-box;
    box-shadow: 5px 5px 0 black;
    margin-bottom: 32px;
}
.latest-section .container .la-content2 .item1 .text1 a .font{
    font-size: 36px;
    font-weight: 900;
    color: #fb2c36;
}
.latest-section .container .la-content2 .item1 .text1 a
,.latest-section .container .la-content2 .item1 .text2 a
,.latest-section .container .la-content2 .item1 .text3 a{
    margin-top: 24px;
    display: flex;
    
}
.latest-section .container .la-content2 .item1 .text1 a:hover div span{
    color: #e7000b;
}
.latest-section .container .la-content2 .item1 .text2 a:hover div span{
    color: #155dfc;
}
.latest-section .container .la-content2 .item1 .text3 a:hover div span{
    color: #9810fa;
}
.latest-section .container .la-content2 .item1 .text2 a .font{
    font-size: 36px;
    font-weight: 900;
    color:#2b7fff;
}
.latest-section .container .la-content2 .item1 .text3 a .font{
    font-size: 36px;
    font-weight: 900;
    color:#ad46ff;
}
.latest-section .container .la-content2 .item1 a div{
    margin: 5px 0 0 20px;
}
.latest-section .container .la-content2 .item1 a div span{
    font-size: 18px;
    font-weight: 700;
    transition: 0.5s ease;
}
.latest-section .container .la-content2 .item1 a div p{
    font-size: 14px;
    font-weight: 400;
    color: #525252;
}
.latest-section .container .la-content2 .item2{
    border: 4px solid black;
    background-color: white;
    padding: 32px;
    box-sizing: border-box;
    box-shadow: 5px 5px 0 black;
}
.latest-section .container .la-content2 .item2 .text1{
    font-size: 16px;
    font-weight: 700;
    background-color: #fef9c2;
    border: 2px solid black;
    padding: 12px 16px;
    margin-top: 12px;
    transition: 0.3s ease;
}
.latest-section .container .la-content2 .item2 .text1:hover{
    background-color:#ffdf20 ;
    transform: translate(-4px,-4px);
    box-shadow: 4px 4px 0 black;
}
.latest-section .container .la-content2 .item2 .text2{
    font-size: 16px;
    font-weight: 700;
    background-color:#dbfce7;
    border: 2px solid black;
    padding: 12px 16px;
    margin-top: 12px;
    transition: 0.3s ease;
}
.latest-section .container .la-content2 .item2 .text2:hover{
    background-color:#7bf1a8;
    transform: translate(-4px,-4px);
    box-shadow: 4px 4px 0 black;
}
.latest-section .container .la-content2 .item2 .text3{
    font-size: 16px;
    font-weight: 700;
    background-color:#fce7f3;
    border: 2px solid black;
    padding: 12px 16px;
    margin-top: 12px;
    transition: 0.3s ease;
}
.latest-section .container .la-content2 .item2 .text3:hover{
    background-color: #fda5d5;
    transform: translate(-4px,-4px);
    box-shadow: 4px 4px 0 black;
}
.latest-section .container .la-content2 .item2 .text4{
    font-size: 16px;
    font-weight: 700;
    background-color:#dbeafe;
    border: 2px solid black;
    padding: 12px 16px;
    margin-top: 12px;
    transition: 0.3s ease;
}
.latest-section .container .la-content2 .item2 .text4:hover{
    background-color:#bfd0e7;
    transform: translate(-4px,-4px);
    box-shadow: 4px 4px 0 black;
}
.latest-section .container .la-content2 .item2 .text5{
    font-size: 16px;
    font-weight: 700;
    background-color:#f3e8ff;
    border: 2px solid black;
    padding: 12px 16px;
    margin-top: 12px;
    transition: 0.3s ease;
}
.latest-section .container .la-content2 .item2 .text5:hover{
    background-color:#c6b9ff;
    transform: translate(-4px,-4px);
    box-shadow: 4px 4px 0 black;
}
/* authors section */
.authors-section{
    background-color: #ffd230;
    border-block: 5px solid ;
    padding-block: 50px;
    position: relative;
}
.authors-section .container .positon2{
    background-color: #ffc131;
    width: 10%;
    height: 16%;
    transform: rotate(80deg);
    position: absolute;
    left: 48px;
    bottom: 20px;
}
.authors-section .container .author-content2{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}
.authors-section .author-content1{
    text-align: center;
    margin-bottom: 50px;
    
}
.authors-section .author-content1 .positon1{
    background-color: #e5bd2b;
    width: 12%;
    height: 20%;
    transform: rotate(45deg);
    position: absolute;
    top: 35px;
    right: 40px;
}
.authors-section .author-content1 h3{
    font-size: 48px;
    font-weight: 900;
}
.authors-section .author-content1 p{
    font-size: 20px;
    font-weight: 600;
    color: #525252;
    margin-block: 16px;
}
.authors-section .author-content1 div{
    width: 11%;
    height: 8px;
    background-color: black;
    margin:2px auto;
    transform: rotate(1.2deg);
}
.authors-section .author-content2 .item1{
    width: 26%;
    background-color: #fef9c2;
    border: 3px solid black;
    box-shadow: 6px 6px 0 black;
    padding: 32px;
    text-align: center;
    position: relative;
    margin: 5px 0 6px 5px;
    transition: 0.4s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.authors-section .author-content2 .item1:hover{
    transform: translate(-4px,-4px);
}
.authors-section .author-content2 .item1:hover h3{
    color: #e7000b;
}
.authors-section .author-content2 .image{
    margin-bottom: 24px;
    display: flex;
}
.authors-section .author-content2  img{
    width: 40%;
    border: 4px solid black;
    margin: auto;
}
.authors-section .author-content2 .item1 .image div{
    width: fit-content;
    font-size: 12px;
    font-weight: 700;
    padding:4px 8px;
    color: white;
    background-color: #fb2c36;
    border: 2px solid black;
    transform: skew(-14deg,14deg);
    position: absolute;
    top: 30px;
    right: 20px;

}
.authors-section .author-content2 .item1 h3
,.authors-section .author-content2 .item2 h3 
,.authors-section .author-content2 .item3 h3{
    font-size: 30px;
    font-weight: 900;
    transition: 0.4s ease;
    
}
.authors-section .author-content2 .item1 p
,.authors-section .author-content2 .item2 p
,.authors-section .author-content2 .item3 p{
    font-size: 16px;
    font-weight: 700;
    color: #525252;
    margin-block: 8px 16px;
}
.authors-section .author-content2 .item1 .special
,.authors-section .author-content2 .item2 .special
,.authors-section .author-content2 .item3 .special{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: black;
}
.authors-section .author-content2 ul{
    display: flex;
    justify-content: center;
}
.authors-section .author-content2 ul li{
    background-color: black;
    color: white;
    margin:0 16px 5px 0;
    padding: 15px;
    border: 2px solid black;
    transition: 0.4s ease;
}
.authors-section .author-content2 ul li:hover{
    background-color: #155dfc;
    box-shadow: 5px 5px 0 black;
}
.authors-section .author-content2 ul .bg-color:hover{
    background-color: #e94aa1;
}
.authors-section .author-content2 .item2{
    width: 26%;
    background-color: #dbfce7;
    border: 3px solid black;
    box-shadow: 6px 6px 0 black;
    padding: 32px;
    text-align: center;
    position: relative;
    margin: 5px 0 6px 5px;
    transition: 0.4s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.authors-section .author-content2 .item2:hover{
    transform: translate(-4px,-4px);
}
.authors-section .author-content2 .item2:hover h3{
    color: #155dfc;
}
.authors-section .author-content2 .item2 .image div{
    background-color: #2b7fff;
    border: 2px solid black;
    width: fit-content;
    color: white;
    padding: 4px 8px;
    font-size: 12px;
    font-weight: 700;
    transform: rotate(-15deg);
    position: absolute;
    top: 23px;
    right: 30px;
}
.authors-section .author-content2 .item3{
    width: 26%;
    background-color: #fce7f3;
    border: 3px solid black;
    box-shadow: 6px 6px 0 black;
    padding: 32px;
    text-align: center;
    position: relative;
    margin: 6px ;
    transition: 0.4s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.authors-section .author-content2 .item3:hover{
    transform: translate(-4px,-4px);
}
.authors-section .author-content2 .item3:hover h3{
    color: #9810fa;
}
.authors-section .author-content2 .item3 .image div{
    background-color: #ad46ff;
    border: 2px solid black;
    width: fit-content;
    color: white;
    padding: 4px 8px;
    margin-top: 3px;
    font-size: 12px;
    font-weight: 700;
    transform: rotate(45deg);
    position: absolute;
    top: 30px;
    right: 35px;
}

/* ........................... */
/* community section */
.community-section{
    background-color: #f5f5f5;
    padding-block: 50px;
}
.community-section .container{
    margin-block: 30px;
}
.community-section .comm-content1{
    margin-bottom: 50px;
    text-align: center;
}
.community-section .comm-content1 h3{
    font-size: 48px;
    font-weight: 900;
}
.community-section .comm-content1 p{
    font-size: 20px;
    font-weight: 600;
    color: #525252;
    margin-block: 16px;
}
.community-section .comm-content1 div{
    width: 11%;
    height: 8px;
    background-color: black;
    margin:2px auto;
    transform: rotate(-1.2deg);
}
.community-section .comm-content2{
    display: flex;
    justify-content: space-between;
}
.community-section .comm-content2 .item1{
    width: 48%;
    margin-top: 40px;
}
.community-section .comm-content2 .item1 h4{
    font-size: 36px;
    font-weight: 900;
}
.community-section .comm-content2 .item1 div{
    font-size: 20px;
    font-weight: 600;
    line-height: 33px;
    padding: 16px;
    background-color: white;
    border: 2px solid black;
    box-shadow: 3px 3px 0 black;
    margin: 32px 5px 32px 0;
}
.community-section .comm-content2 .item1 ul li{
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}
.community-section .comm-content2 .item1 ul li i{
    border: 2px solid black;
    padding: 12px;
    color: white;
    margin-right: 20px;
}
.community-section .comm-content2 .item1 ul li .fa-check{
    background-color: #fb2c36;
}
.community-section .comm-content2 .item1 ul li .fa-discord{
    background-color: #2b7fff;
}
.community-section .comm-content2 .item1 ul li .fa-star{
    background-color: #ad46ff;
}
.community-section .comm-content2 .item1 ul li .fa-pen{
    background-color: #00c950;
}
.community-section .comm-content2 .item1 button{
    font-size: 24px;
    font-weight: 700;
    background-color: black;
    color: white;
    padding: 24px 48px;
    border: 4px solid black;
    box-shadow: 7px 7px 0 black;
    margin:24px 7px  24px 0;
    transition: 0.2s ease;
}
.community-section .comm-content2 .item1 button:hover{
    box-shadow: none;
    transform: translate(7px,7px);
}
.community-section .comm-content2 .item2{
    width: 40%;
    margin:0 6px 6px 0;
    border: 4px solid black;
    padding: 40px;
    box-shadow: 6px 6px 0 black;
    background-color: white;
}
.community-section .comm-content2 .item2 h4{
    font-size:30px ;
    font-weight: 900;
}
.community-section .comm-content2 .item2 .text1
,.community-section .comm-content2 .item2 .text2
,.community-section .comm-content2 .item2 .text3{
    padding: 16px 16px 16px 24px;
    border: 2px solid black;
    margin-top: 32px;
}
.community-section .comm-content2 .item2 .text1{
    background-color: #fef2f2;
}
.community-section .comm-content2 .item2 .text2{
    background-color: #eff6ff;
}
.community-section .comm-content2 .item2 .text3{
    background-color: #faf5ff;
}
.community-section .comm-content2 .item2 .f-size2{
    font-size:14px ;
    font-weight: 400;
    color: #525252;
}
.community-section .comm-content2 .item2 .f-size{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 16px;
}
.community-section .comm-content2 .item2 img{
    width: 10%;
    border: 2px solid black;
    margin-right: 16px;
}
.community-section .comm-content2 .item2 .d-flex{
    display: flex;
}
.community-section .comm-content2 .item2 .d-flex span{
    font-size: 18px;
    font-weight: 700;
}
/* .................... */
/* footer */
.footer{
    background-color: black;
    padding-block: 50px;
}
.footer .container{
    padding-block: 30px;
}
.footer .fo-content1{
    margin-bottom: 45px;
    display: flex;
}
.footer .fo-content1 .item1{
    width: 40%;
    color: white;
}
.footer .fo-content1 .item1 .d-flex{
    display: flex;
    align-items: center;
}
.footer .fo-content1 .item1 .d-flex .fa-pen-nib{
    color: black;
    background-color: white;
    font-size:24px ;
    padding: 15px;
    margin-right:15px ;
}
.footer .fo-content1 .item1 h5{
    font-size:30px ;
    font-weight: 900;
}
.footer .fo-content1 .item1 p{
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    margin-block: 32px;
}
.footer .fo-content1 .item2{
    width: 24%;
    color: white;
}
.footer .fo-content1 .item2 h5{
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 16px;
}
.footer .fo-content1 .item2 ul li{
    font-size: 18px;
    font-weight: 600;
    margin-top: 16px;
    transition: 0.2s ease;
}
.footer .fo-content1 .item2 ul li:hover{
    color: #ffdf20;
}
.footer .fo-content1 .item3{
    width: 35%;
    color: white;
}
.footer .fo-content1 .item3 h5{
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 32px;
}
.footer .fo-content1 .item3 p{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 24px;
}
.footer .fo-content1 .item3 .flex{
    display: flex;
    flex-direction: column;
}
.footer .fo-content1 .item3 .flex input{
    font-size: 18px;
    font-weight: 600;
    padding: 16px;
    border: 1px solid white;
    background-color: black;
    
}
.footer .fo-content1 .item3 .flex button{
    padding-block: 16px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin: 30px 7px 7px 0;
    background-color: #ffdf20;
    border-bottom: 4px solid rgba(0, 0, 0, 0.3);
    border-right: 4px solid rgba(0, 0, 0, 0.3);
    border-top: 0;
    border-left: 0;
    transition: 0.4s ease;
}
.footer .fo-content1 .item3 .flex button:hover{
    transform: translate(7px,7px);
    background-color: #e0c009fd ;

}
.footer .fo-content2{
    border-top: 5px solid white;
    padding-top: 32px;
    color: white;
    display: flex;
    justify-content: space-between;
}
.footer .fo-content2 p{
    font-size: 18px;
    font-weight: 600;
}
.footer .fo-content2 ul{
    display: flex;
    justify-content: space-between;
}
.footer .fo-content2 ul li{
    font-size: 16px;
    font-weight: 600;
    margin-left: 32px;
    transition: 0.3s ease;
}
.footer .fo-content2 ul li:hover{
    color: #ffdf20;
}
